@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");
.App {
  background-color: rgb(247, 227, 49);
  text-align: center;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content min-content auto min-content;
  grid-template-areas:
    "nav"
    "header"
    "content"
    "footer";
  min-height: 100vh;
  font-family: "Merriweather", serif;
}

/********** ELEMENT TAGS *******/

img {
  width: 100px;
}

li {
  border: solid 1px;
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  line-height: 2;
  margin: 50px;
}

/****** NAVBAR ********/

.dropbtn {
  background-color: #00adb5;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  top: 40px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #03ccd6;
}

.nav {
  background-color: #aad8d3;
  display: flex;
  justify-content: space-between;
}

.nav__left {
  display: inline-flex;
}

.nav__link {
  color: white;
}

.nav__link img {
  border-radius: 50%;
  padding: 5%;
}

.header {
  background-color: #00adb5;
}

.content {
  background-color: #eeeeee;
}

.footer {
  background-color: #00adb5;
}
