.App {
  background-color: rgb(247, 227, 49);
  text-align: center;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content min-content auto;
  grid-template-areas: 
  "nav"
  "header"
  "content";
  min-height: 100vh;
}

.nav {
  background-color: rgba(204, 0, 255, 0.555);
}

.header {
  background-color: rgb(245, 191, 41);
}

.content {
  background-color: rgb(62, 201, 143);
}