@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");
@import "bootstrap/dist/css/bootstrap.min.css";
.App {
  background-color: #eeeeee;
  text-align: center;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content min-content auto min-content;
  grid-template-areas:
    "nav"
    "header"
    "content"
    "footer";
  min-height: 100vh;
  font-family: "Merriweather", serif;
}

/********** ELEMENT TAGS *******/

h1 {
  font-size: 32px;
  margin: 30px auto;
}

h2 {
  font-size: 20px;
  margin: 10px;
}

img {
  width: 100px;
}

li {
  border: solid 1px;
  border-radius: 10px;
  list-style-type: none;
  padding: 20px;
  margin: 20px;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
  margin: auto 15px;
}

hr {
  border-style: none;
  border-top: 12px dotted #00adb5;
  background-color: #fff;
  width: 30%;
  margin: auto;
}

/****** NAVBAR ********/

.dropbtn {
  background-color: #aad8d3;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  top: -8px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #00adb5;
}

.nav {
  background-color: #aad8d3;
  display: flex;
  justify-content: space-between;
}

.nav__left {
  display: inline-flex;
  align-items: center;
}

.nav__link {
  color: white;
}

.nav__link img {
  border-radius: 50%;
  padding: 5%;
}

/********  SORT */

.sort-container {
  display: flex;
  justify-content: flex-end;
}

.sort {
  display: inline-flex;
  margin-right: 30px;
}

.sort-container label {
  margin-left: 5px;
  padding-right: 15px;
}

/* ******REVIEW */

.review-img {
  width: 130px;
  margin: 15px;
}

.votes-button {
  margin: 15px;
}

.date {
  text-align: right;
}

.review-body,
.welcome-para {
  padding: 2% 10%;
  line-height: 2;
}

/***** FORM *****/

form {
  margin: 3% 10%;
}

.name-input {
  margin: auto;
  text-align: center;
  width: 20%;
}

/****User list****/

.user-list {
  width: 30%;
  display: block;
  margin: 15px auto;
}

.user-list:hover {
  box-shadow: 1px 0px 30px 8px rgba(0, 0, 0, 0.72);
}

/**** COMMENTS ****/

.comment {
  width: 80%;
  margin: 15px auto;
}

.avatar {
  border-radius: 50%;
  display: block;
  margin: 20px auto;
}

.spin {
  margin: 30px;
}

.header {
  background-color: #00adb5;
}

.content {
  margin: 15px;
  background-color: #eeeeee;
}

/* ****** FOOTER ********/

.footer {
  background-color: #00adb5;
  padding-top: 75px;
}

small {
  margin: 5% auto;
}

/* ****** ERROR ********/

.errMsg {
  font-size: 25px;
  margin: 20px auto;
}
